/* CSS */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background-color: #f0f0f0; */
  border-bottom: 1px solid #333333;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  /* color: #333; */
}

.burger-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .burger-menu {
    display: block;
  }
}

.phone-links{
  
}

.active {

}